
<div class="modal__container">
  <div class="btn-cerrar-modal">
    <a href="#" class="modal__close" title="Cerrar">X</a>
  </div>

  <img src="assets/img/modal-alta.svg" alt="img-modal" class="modal__img">
  <h2 class="modal__title">Alta de Clase</h2>
  <p class="modal__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente similique quas
    ipsa quo enim dolore, fuga fugiat totam harum pariatur commodi officia, voluptatibus explicabo tempore sit,
    doloremque nulla illum quidem!</p>
  <form>
    <label for="lbl-materia">
      Materia
      <input class="input__materia inputs-form-alta" id="lbl-materia" type="text" name="materia" value="" required>
    </label>
    <label for="lbl-comision">
      Comision
      <input class="input__comision inputs-form-alta" id="lbl-comision" type="text" name="comision" value="" required>
    </label>
    <label for="lbl-hora">
      Hora
      <input class="input__hora inputs-form-alta" id="lbl-hora" type="time" name="hora" value="" required>
    </label>
    <label for="lbl-fecha">
      Fecha
      <input class="input__fecha inputs-form-alta" id="lbl-fecha" type="date" name="fecha" value="" required>
    </label>

    <!-- <label for="lbl-temas">Tareas</label> -->
    <textarea rows="2" placeholder="Ingresá una tarea" class="textarea-form-class"></textarea>

    <!-- <label for="lbl-novedades">Novedades</label> -->
    <textarea rows="2" placeholder="¿Alguna Novedad?" class="textarea-form-class"></textarea>
  </form>

  <a href="#" class="btn-confirmar-alta" title="Confirmar Alta">Confirmar</a>
</div>